.display {
	padding: 40px;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
	padding-bottom: 10px;
}

.text {
	width: 100%;
	text-align: left;
	font: normal normal normal 18px/22px Verdana;
	letter-spacing: 0px;
	opacity: 1;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
	display: inline-block;
}

.text1 {
	text-align: left;
	font: normal normal normal 18px/22px Verdana;
	letter-spacing: 0px;
	opacity: 1;
	width: 35%;
	margin-right: 15%;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
.text2 {
	text-align: left;
	font: normal normal normal 18px/22px Verdana;
	letter-spacing: 0px;
	opacity: 1;
	width: 35%;
	margin-left: 15%;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
.imageurl,
.middle,
.end {
	display: flex;
	padding: 10px;
	height: 40%;
}

.text3 {
	width: 100%;
	text-align: left;
	font: normal normal normal 18px/22px Verdana;
	letter-spacing: 0px;
	opacity: 1;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}

.Filelabel {
	display: inline-block;
	/* margin-bottom: .5rem; */
	text-align: left;
	font: normal normal normal 18px/22px Verdana;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	padding: 1%;
	background: #f0f0f0 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 0px;
}

.Activepost {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
	padding-bottom: 1%;
}

.Activepostbutton {
	width: 30%;
	justify-content: center;
	display: flex;
	height: auto;
	text-align: center;
	background: #3554e0 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
	color: white;
}

.postbutton {
	width: 30%;
	justify-content: center;
	display: flex;
	height: auto;
	text-align: center;
	background: #f0f0f0 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 5px;
	opacity: 1;
}
