<!-- <!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
	</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div>
			<form method="POST" action="/post">
				<label for="username">user name</label>
				<input type="text" id="username" name="username" />
				<label for="location">Location</label>
				<input type="text" id="location" name="location" />
				<label for="image">image</label>
				<input type="text" id="image" name="image" />
				<label for="description">description</label>
				<input type="text" id="description" name="description" />
				<button type="submit">Add</button>
			</form>
		</div>
	</body>
</html>
