#head {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	display: flex;
	border-bottom: 1px solid #006238;

	/* margin-left: 0px; */
	justify-content: center;
	vertical-align: center;
	margin-bottom: 50px;
}

#insta {
	display: flex;
	background-color: white;
	align-items: center;
	font-family: Palatino;
	font-size: 64px;
	color: #006238;
	margin-top: 25px;
	opacity: 1;
	margin-right: 45%;
}

#logo {
	flex: 1;
	padding-left: 10px;
	font-family: cursive;
}

#camera {
	/* flex: 0.2; */
	opacity: 1;
	margin-top: 100%;
	margin-left: 30%;
}

.buttons {
	flex: 0.3;
	border: none;
	opacity: 1;
	background: transparent;
	margin-right: 300px;
}
